<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
  <meta http-equiv="Pragma" content="no-cache" />
  <meta http-equiv="Expires" content="0" />
  <link rel="stylesheet" href="../css/restyle.css">
  <link rel="stylesheet" href="../css/master.css">
  <link rel="stylesheet" href="../css/info1.css">
  <link rel="stylesheet" href="/css/admin.css">
  <script src="https://kit.fontawesome.com/a885fb99c4.js" crossorigin="anonymous"></script>
  <script src="./js/dropdown.js" defer></script>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Newsreader:wght@200&display=swap" rel="stylesheet">
  <script src='../js/navSlide.js' defer></script>
  <script src='../js/goDown.js' defer></script>
  <script type=module src='./js/formPopUp.js' defer></script>


  <title>BuroDeKuiper</title>
</head>

<body>



  <div class="grid-container">
    <div class="header">
      <div class="logo"><a href="/admin">
          <p>BuroDeKuiper</p>
        </a></div>



      <div class="nav">
        <div class='menu'><i class="fas fa-bars"></i></div>
        <ul>
          <li><a href="johanna-admin">Johanna</a></li>
          <!--    <li class='drop'><a href="#">About    <i class="fas fa-sort-down"></i></a>
                        <ul class='dropDown'>
                          <li><a href="./html/myStory">My story</a></li>
                          <li><a href="./html/progress">Web Dev Progress</a></li>
                        </ul>
                                      </li>-->
          <li><a href="watwerkt-admin">Wat werkt</a></li>
          <li><a href="info-admin">Info</a></li>
          <li><a href="contact-admin">Contact</a></li>
        </ul>
      </div>



    </div>

    <div class="body1">
      <span id='info.title' class="h1 editBox"><%-info.title%></span>

      <span class="h2 editBox" id='info.title1'><%-info.title1%></span></br></br>
      <div class="editBox" id='info.text1'><%-info.text1%></div>

      </br></br></br>
      <span class="h2 editBox" id='info.title2'><%-info.title2%></span></br></br>
      <div class="editBox" id='info.text2'><%-info.text2%></div>



    </div>
    <div class="body2">

      <span class="h3 editBox" id='info.title3'><%-info.title3%></span></br></br>
      <div class="editBox" id='info.text3'><%-info.text3%></div>
      </br></br>
      <span class="h3 editBox" id='info.title4'><%-info.title4%></span></br></br>
      <div class="editBox" id='info.text4'><%-info.text4%></div>
      </br></br>
      <span class="h2">Links</span></br>
      <ul class="linkList">
        <li><a href="https://www.lvsc.eu/users/johanna-kuiper">Ga naar LVSC</a></br></li>
        <li><a href="https://www.linkedin.com/in/johannakuipercoach/?originalSubdomain=nl">Ga naar LinkedIn pagina</a></br></li>
      </ul>



    </div>


  </div>










  <div class="mobileNav">

    <h1>Menu</h1>

    <ul>
      <li><a href="johanna-admin">Johanna</a></li>
      <!--<li class='dropMobile'>
          <div class="grid-list">
          <a href="#" class='dropMobileA'>Wat werkt <!<i class="fas fa-sort-down"></i></a>
            <ol class='dropDownMobile'>
              <li><a href="./html/myStory">My story</a></li>
              <li><a href="./html/progress">Web Dev Progress</a></li>
            </ol>
          </div>
        </li>-->
      <li><a href="watwerkt-admin" class='dropMobileA'>Wat werkt</a></li>
      <li><a href="info-admin">Info</a></li>
      <li><a href="contact-admin">Contact</a></li>
    </ul>

  </div>






</body>

</html>
