<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
  <meta http-equiv="Pragma" content="no-cache" />
  <meta http-equiv="Expires" content="0" />
  <link rel="stylesheet" href="../css/restyle.css">
  <link rel="stylesheet" href="../css/master.css">
    <link rel="stylesheet" href="../css/begeleidingskunde1.css">
  <script src="https://kit.fontawesome.com/a885fb99c4.js" crossorigin="anonymous"></script>
  <script src="./js/dropdown.js" defer></script>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Newsreader:wght@200&display=swap" rel="stylesheet">
  <script src='../js/navSlide.js' defer></script>
    <script src='../js/goDown.js' defer></script>

  <title>BuroDeKuiper</title>
</head>

<body>




    <div class="grid-container">
      <div class="header">
        <div class="logo"><a href="/">
            <p>BuroDeKuiper</p>
          </a></div>

        <div class="nav">
          <div class='menu'><i class="fas fa-bars"></i></div>
          <ul>
            <li><a href="johanna">Johanna</a></li>
            <!--    <li class='drop'><a href="#">About    <i class="fas fa-sort-down"></i></a>
                        <ul class='dropDown'>
                          <li><a href="./html/myStory">My story</a></li>
                          <li><a href="./html/progress">Web Dev Progress</a></li>
                        </ul>
                                      </li>-->
            <li><a href="watwerkt">Wat werkt</a></li>
            <li><a href="info">Info</a></li>
            <li><a href="contact">Contact</a></li>
          </ul>
        </div>



      </div>

      <div class="body1">

          <span class="h1">Begeleidingskunde</span>
          </br></br>

          <%-begeleidingskunde.text1%>


          <div class="paraGrid">
          <div class="text">
          <%-begeleidingskunde.text2%>
          </div>
          <div class="image">
            <img src="../img/board.jpg" alt="">
          </div>
          </div>
        </br></br>

        <!-- use <%- %> insted of <%= %> so it doesnt escape HTML automatically and used </br> tags -->
        <%-begeleidingskunde.text3%>
        </div>


      </div>














  <div class="mobileNav">

    <h1>Menu</h1>

    <ul>
      <li><a href="johanna">Johanna</a></li>
      <li><a href="watwerkt" class='dropMobileA'>Wat werkt</a></li>
      <li><a href="info">Info</a></li>
      <li><a href="contact">Contact</a></li>
    </ul>

  </div>






</body>

</html>
