<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
  <meta http-equiv="Pragma" content="no-cache" />
  <meta http-equiv="Expires" content="0" />
  <link rel="stylesheet" href="/css/restyle.css">
  <link rel="stylesheet" href="/css/master.css">
  <link rel="stylesheet" href="/css/watwerkt1.css">
  <script src="https://kit.fontawesome.com/a885fb99c4.js" crossorigin="anonymous"></script>
  <script src="./js/dropdown.js" defer></script>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Newsreader:wght@200&display=swap" rel="stylesheet">
  <script src='../js/navSlide.js' defer></script>
    <script src='../js/goDown.js' defer></script>

  <title>BuroDeKuiper</title>
</head>

<body>

  <div class="wrapper">


    <div class="grid-container">
      <div class="header">
        <div class="logo"><a href="/">
            <p>BuroDeKuiper</p>
          </a></div>

        <div class="nav">
          <div class='menu'><i class="fas fa-bars"></i></div>
          <ul>
            <li><a href="johanna">Johanna</a></li>
            <!--    <li class='drop'><a href="#">About    <i class="fas fa-sort-down"></i></a>
                        <ul class='dropDown'>
                          <li><a href="./html/myStory">My story</a></li>
                          <li><a href="./html/progress">Web Dev Progress</a></li>
                        </ul>
                                      </li>-->
            <li><a href="watwerkt">Wat werkt</a></li>
            <li><a href="info">Info</a></li>
            <li><a href="contact">Contact</a></li>
          </ul>
        </div>



      </div>

      <div class="body1">
              <span class="h1"><%-watwerkt.title1%></span>
              </br></br>
              <%-watwerkt.text1%>
             </br></br></br>
            <span class="h2"><%-watwerkt.title2%></span></br></br>

              <%-watwerkt.text2%>

              </br></br>

                      <i id="arrowDown" class="fas fa-angle-double-down"></i>



          </div>

        </div>


        <div class="body2">

            <div class="textBottom1">


              <span class="h3"><%-watwerkt.title3%></span> </br></br>
              <%-watwerkt.text3%>




            </div>

          <!--  <div class="imgBottom1">
          <img src="../img/beach.JPG" alt="">
            </div>
          </div>-->

          <div class="bottom3 coaching">

                <span class="h2"><%-watwerkt.title4%></span> </br></br>

                <%-watwerkt.text4%>


            </div>


                  <div class="bottom3 intervisie">

                        <span class="h2 h4"><%-watwerkt.title5%></span> </br></br>

                        <%-watwerkt.text5%>

                    </div>

            <div class="bottom2 textBottom1">




              <span class="h3 h5"><%-watwerkt.title6%></span> </br></br>
            <%-watwerkt.text6%>
            </br></br>
            Lees meer: <a href="begeleidingskunde">Begeleidingskunde</a>




            </div>



          </div>






  </div>







  <div class="mobileNav">

    <h1>Menu</h1>

    <ul>
      <li><a href="johanna">Johanna</a></li>

      <li><a href="watwerkt" class='dropMobileA'>Wat werkt</a></li>
      <li><a href="info">Info</a></li>
      <li><a href="contact">Contact</a></li>
    </ul>

  </div>






</body>

</html>
